<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Valores Entre Telas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input
    [(ngModel)]="nome"
      label="Nome"
      labelPlacement="floating"
      placeholder="Inserir seu nome"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-input
    [(ngModel)]="email"
      label="E-mail"
      labelPlacement="floating"
      placeholder="Inserir e-mail"
      value="email"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-input
    [(ngModel)]="telefone"
      label="Telefone"
      labelPlacement="floating"
      placeholder="Inserir telefone"
      color="dark"
    ></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="abrirTela()">
    <ion-icon name="send" slot="start" size="1em"></ion-icon>
    ENVIAR</ion-button>
</ion-content>
