<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Valores Entre Telas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input
      label="Nome"
      labelPlacement="floating"
      placeholder="Inserir texto"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      label="E-mail"
      labelPlacement="floating"
      placeholder="Inserir texto"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      label="Telefone"
      labelPlacement="floating"
      placeholder="Inserir texto"
      color="dark"
    ></ion-input>
  </ion-item>

  <ion-button expand="block">
    <ion-icon name="send" slot="start" size="1em"></ion-icon>
    Cadastrar</ion-button>
</ion-content>
